@font-face {
font-family: 'Poppins-Regular';
src: local('Poppins-Regular'), url(../assets/Poppins-Regular.ttf) format('truetype');
font-display: swap;
}

@font-face {
font-family: 'Alliance-No1-Bold';
src: local('Alliance-No.1-Bold'), url(../assets/Alliance-No.1-Bold.otf) format('truetype');
font-display: swap;
}

@font-face {
font-family: 'Alliance-No1-SemiBold';
src: local('Alliance-No.1-SemiBold'), url(../assets/Alliance-No.1-SemiBold.otf) format('truetype');
font-display: swap;
}

@font-face {
font-family: 'Alliance-No1-Regular';
src: local('Alliance-No.1-Regular'), url(../assets/Alliance-No.1-Regular.otf) format('truetype');
font-display: swap;
}

:root {
--theme-responsive-size: 2vmax;
--theme-response-helper: 2vmax;
--theme-responsive-helper: 2vh;
--theme-day-background: #f4f7f8;
--theme-night-background: #101010;
--theme-font-regular: Alliance-No1-SemiBold;
--theme-font-fallback: Poppins-Regular;
overflow: hidden;
}

body {
background-color: var(--theme-day-background);
font-family: var(--theme-font-regular),var(--theme-font-fallback), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg {
width: 100px;
}

button {
text-decoration: none;
border: none;
background-color: transparent;
color: #ffffff;
font-family: Alliance-No1-Regular;
}
/* #bodyNightTheme {
font-family: var(--theme-font-regular),var(--theme-font-fallback), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: var(--theme-day-background);
} */

.FallbackMain {
width: 100%;
height: 100%;
}

.Header {
display: flex;
position: relative;
flex-direction: column;
align-items: center;
justify-self: center;
justify-items: center;
justify-content: center;
margin-top: calc(var(--theme-responsive-size)*5);
}

.SVG {
width: calc((var(--theme-response-helper)*25)/2);
height: calc((var(--theme-response-helper)*10)/2);
background-color: #ffffff;
box-shadow: 0px 0px calc(var(--theme-response-helper)*10) #e0e4e6;
border-radius: calc(var(--theme-response-helper)/2);
z-index: -1;
/* perspective: 40px;
-webkit-mask: linear-gradient(#000 0 0) top 100% 70%;
-webkit-mask-repeat: no-repeat;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.667) 40%, rgba(236, 236, 236, 0.667), rgba(255, 255, 255, 0.667) 60%) right/300% 100%;
animation: motion 1s linear infinite; */

/* -webkit-animation: SVG 0.9s both;
animation: SVG 0.9s both; */
}

/* @keyframes motion {
to {
background-position: left;
}
} */

.Heading {
margin-top: calc(var(--theme-response-helper));
font-size: calc(var(--theme-responsive-size)*0.75);
}

.Description {
max-width: 23%;
margin-top: calc(var(--theme-response-helper)*0.55);
color: #616161;
text-align: center;
font-size: calc(var(--theme-responsive-size)*0.55);
}

.Footer {
display: flex;
height: auto;
justify-content: right;
align-self: baseline;
}

.Cookie {
width: calc((var(--theme-response-helper)*11.5));
height: calc((var(--theme-response-helper)*9));
display: flex;
position: relative;
flex-direction: column;
justify-self: center;
justify-items: center;
justify-content: center;
align-items: center;
/* width: 350px; */
/* height: 275px; */
background-color: #ffffff;
box-shadow: 0px 0px calc(var(--theme-response-helper)*1) #00000009;
border-radius: 20px;
-webkit-animation: slide-in-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-in-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.CookieHeading {
margin-top: 5%;
color: #000000;
font-family: Alliance-No1-SemiBold;
font-size: 100%;
}

.CookieDes {
max-width: 75%;
margin-top: 2%;
text-align: center;
color: #797979;
font-family: Alliance-No1-Regular;
font-size: 75%;
}

.Button {
display: flex;
width: 85%;
max-width: 100%;
margin-top: 5%;
padding-top: 3%;
padding-bottom: 3%;
justify-content: center;
text-align: center;
border-radius: 10px;
background-color: #000000;
color: #ffffff;
font-family: Alliance-No1-Regular;
}


@media only screen and (max-width:200px) {
body {
background-color: #000000;
}
}

@media only screen and (max-width:700px) and (min-width: 250px) {
.Header {
margin-top: calc(var(--theme-responsive-size)*10);
}

.Heading {
margin-top: calc(var(--theme-response-helper)*2);
font-size: calc(var(--theme-responsive-size)*1.01);
}

.Description {
max-width: 50%;
font-size: calc(var(--theme-responsive-size)*0.55);
}
.Footer {
margin-top: 50%;
justify-content: center;
}

svg {
width: 25%;
}

.Cookie {
width: 100%;
height: 250px;
}

.CookieHeading {
font-size: 100%;
}

.CookieDes {
font-size: 85%;
}
.Button {
border-radius: 6px;
font-size: 85%;
}
button {
font-size: 85%;
}
}

@media only screen and (max-width:1100px) and (min-width: 700px) {
.Header {
margin-top: calc(var(--theme-responsive-size)*10);
}

.Heading {
margin-top: calc(var(--theme-response-helper)*2);
font-size: calc(var(--theme-responsive-size)*1.1);
}

.Description {
max-width: 42%;
font-size: calc(var(--theme-responsive-size)*0.75);
}

.Footer {
margin-top: 50%;
justify-content: center;
}
}

/* @-webkit-keyframes */
/* 
@keyframes SVG {
0% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
30% {
-webkit-transform: scale3d(1.25, 0.75, 1);
transform: scale3d(1.25, 0.75, 1);
}
40% {
-webkit-transform: scale3d(0.75, 1.25, 1);
transform: scale3d(0.75, 1.25, 1);
}
50% {
-webkit-transform: scale3d(1.15, 0.85, 1);
transform: scale3d(1.15, 0.85, 1);
}
65% {
-webkit-transform: scale3d(0.95, 1.05, 1);
transform: scale3d(0.95, 1.05, 1);
}
75% {
-webkit-transform: scale3d(1.05, 0.95, 1);
transform: scale3d(1.05, 0.95, 1);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
}
@keyframes jello-horizontal {
0% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
30% {
-webkit-transform: scale3d(1.25, 0.75, 1);
transform: scale3d(1.25, 0.75, 1);
}
40% {
-webkit-transform: scale3d(0.75, 1.25, 1);
transform: scale3d(0.75, 1.25, 1);
}
50% {
-webkit-transform: scale3d(1.15, 0.85, 1);
transform: scale3d(1.15, 0.85, 1);
}
65% {
-webkit-transform: scale3d(0.95, 1.05, 1);
transform: scale3d(0.95, 1.05, 1);
}
75% {
-webkit-transform: scale3d(1.05, 0.95, 1);
transform: scale3d(1.05, 0.95, 1);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
}
*/


@-webkit-keyframes slide-in-right {
0% {
-webkit-transform: translateX(1000px);
transform: translateX(1000px);
opacity: 0;
}
100% {
-webkit-transform: translateX(0);
transform: translateX(0);
opacity: 1;
}
}
@keyframes slide-in-right {
0% {
-webkit-transform: translateX(1000px);
transform: translateX(1000px);
opacity: 0;
}
100% {
-webkit-transform: translateX(0);
transform: translateX(0);
opacity: 1;
}
}


@-webkit-keyframes slide-out-bottom {
0% {
-webkit-transform: translateY(0);
transform: translateY(0);
opacity: 1;
}
100% {
-webkit-transform: translateY(1000px);
transform: translateY(1000px);
opacity: 0;
}
}
@keyframes slide-out-bottom {
0% {
-webkit-transform: translateY(0);
transform: translateY(0);
opacity: 1;
}
100% {
-webkit-transform: translateY(1000px);
transform: translateY(1000px);
opacity: 0;
}
}
