@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url(../assets/Poppins-Regular.ttf) format('truetype');
    font-display: swap;
}
    
@font-face {
    font-family: 'Alliance-No1-Bold';
    src: local('Alliance-No.1-Bold'), url(../assets/Alliance-No.1-Bold.otf) format('truetype');
    font-display: swap;
}
    
@font-face {
    font-family: 'Alliance-No1-SemiBold';
    src: local('Alliance-No.1-SemiBold'), url(../assets/Alliance-No.1-SemiBold.otf) format('truetype');
    font-display: swap;
}
    
@font-face {
    font-family: 'Alliance-No1-Regular';
    src: local('Alliance-No.1-Regular'), url(../assets/Alliance-No.1-Regular.otf) format('truetype');
    font-display: swap;
}
    
:root {
    --theme-responsive-size: 2vmax;
    --theme-response-helper: 2vmax;
    --theme-responsive-helper: 2vh;
    --theme-day-night-background: #ffffff;
    --theme-day-night-foreground: #0F0F13;
    --theme-day-night-substitute: #c2c2c2;
    --theme-day-night-filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
    --theme-responsive-color: rgba(15, 15, 19, 0.05);
    --theme-extra-color: #ffffff;
    --theme-font-regular: Alliance-No1-SemiBold;
    --theme-font-fallback: Poppins-Regular;
    --theme-day-night-border: 0.5px solid var(--theme-responsive-color);
    overflow-x: hidden;
}

html {
    width: 100%;
    scroll-behavior: 100px;
    overflow-x: scroll;
}

body {
    margin: 0px;
    background-color: var(--theme-day-night-background);
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px;
}

li {
    display: inline-flex;
    width: calc(var(--theme-responsive-size)*3);
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    font-size: calc(var(--theme-responsive-size)*0.4);
}

#LIFooter {
    width: calc(var(--theme-responsive-size)*1.25);
}

a {
    text-decoration: none;
    color: #888888;
    font-family: Alliance-No1-Regular;
    transition: ease-in 1s;
}

a:hover {
    color: #000000;
    transition: 0.5s;
}


img {
    width: 15px;
    filter: var(--theme-day-night-filter);
}

marquee {
    display: flex;
}

input {
    outline: none;
    margin: 10px;
    text-decoration: none;
    width: 100%;
    height: 70%;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    color: #b3b3b3;
    padding-left: calc(var(--theme-responsive-size)*0.5);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    /* font-size:2px; */
}

button {
    outline: none;
    text-decoration: none;
    border: none;
    text-align: center;
    background-color: #000000;
}

form {
    display: inherit;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.contactMeModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 10;
}

#contactMeModal-design1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(3deg);
    border: 3px solid;
    border-color: #ffffff;
    background-color: transparent;
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    height: calc(var(--theme-response-helper)*9);
    width: calc(var(--theme-responsive-size)*12.5);
    border-radius: 15px;
}

#contactMeModal-design2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-6deg);
    /* border: 3px solid;
    border-color: #ffffff; */
    background-color: rgb(201, 201, 201, 0.4);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    height: calc(var(--theme-response-helper)*9);
    width: calc(var(--theme-responsive-size)*12.5);
    border-radius: 15px;
}

.contactMeModal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: calc(var(--theme-responsive-size)*12.5);
    height: calc(var(--theme-responsive-size)*9);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    border-radius: 15px;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    /* border-radius: 0.25rem;
    background-color: lightgray; */
}

.close-button:hover {
    /* background-color: darkgray; */
}

.show-contactMeModal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.submitEmail {
    width: 100%;
    height: calc(var(--theme-responsive-size)*2);
    background-color: #dfdfdf;
    border-radius: 10px;
}

.submitBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 100%;
    border-radius: 10px;
}

.inputEmail {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.sendEmail {
    display: inline-flex;
    flex-direction: row;
    width: 100px;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
    color: #ffffff;
    padding: 0.5em;
    margin: 10px;
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    text-decoration: none;
    border-radius: 5px;
}

.containerLanding {
    display: grid;
    position: relative;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.5fr 1.8fr 1.2fr 0.5fr; 
    grid-template-rows: 1fr 2fr 0.5fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."; 
}

.NavBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: calc(var(--theme-responsive-size)*2.25);
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    background-color: transparent;
    transition: 0.2s;
    z-index: 10;
}

.Footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(var(--theme-responsive-size)*2.25);
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    background-color: transparent;
    z-index: 10;
}

#ulFooterLeft {
    margin-left: 1%;
}

#ulFooterRight {
    margin-right: 1%;
}

.Row1Column1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 1;
    grid-row-end: 1;
    background-color: transparent;
    box-sizing: border-box;
    border: var(--theme-day-night-border);
}

.Row1Column2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 1;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.NameTile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

.FirstName {
    color: var(--theme-day-night-substitute);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    font-size: calc(var(--theme-responsive-size));
}

.LastName {
    color: var(--theme-day-night-foreground);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    font-size: calc(var(--theme-responsive-size));
}

.Row1Column3 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 1;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.LiveTile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.DateDayTime {
    display: flex;
    flex-direction: row;
    height: 62px;
    justify-content: space-between;
    background-color: transparent;
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
}

.Time {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: center;
    color: var(--theme-day-night-foreground);
    font-size: 72px;
}

.DayAndDate {
    display: flex;
    flex-direction: column;
    width: 160px;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 25px;
}

.Date {
    color: var(--theme-day-night-foreground);
}

.Day {
    color: var(--theme-day-night-substitute);
}

.Row1Column4 {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 1;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.Row2Column1 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 1;
    grid-row-end: 2;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.version1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--theme-day-night-foreground);
    color: var(--theme-day-night-background);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    font-size: 20px;
}

.LandingRow2Column2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.Showcase {
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: var(--theme-responsive-color);
    background-image: url("../assets/image.png");
    background-position: center;
    background-size: cover;
}

.ShowcaseTitle {
    display: flex;
    position: absolute;
    max-width: 200px;
    height: 35px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: -21px;
    margin-top: calc(var(--theme-responsive-size)*5.5);
    background-color: var(--theme-day-night-foreground);
    color: var(--theme-day-night-background);
    box-shadow: 0px 0px calc(var(--theme-response-helper)*1) rgba(15, 15, 19, 0.5);
    font-family: var(--theme-font-fallback), var(--theme-font-fallback);
    font-size: smaller;
}

.LandingRow2Column3 {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.News {
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: var(--theme-responsive-color);
    background-image: url("../assets/image.png");
    background-position: center;
    background-size: cover;
}

.NewsTitle {
    display: flex;
    position: absolute;
    max-width: 200px;
    height: 35px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: -21px;
    margin-top: calc(var(--theme-responsive-size)*5.5);
    background-color: var(--theme-day-night-foreground);
    color: var(--theme-day-night-background);
    box-shadow: 0px 0px calc(var(--theme-response-helper)*1) rgba(15, 15, 19, 0.5);
    font-family: var(--theme-font-fallback), var(--theme-font-fallback);
    font-size: smaller;
}

.Row2Column4 {
    display: flex;
    flex-direction: column;
    grid-column-start: 4;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 2;
    justify-content: center;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.LiveWhether {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--theme-day-night-foreground);
}

.Whether {
    /* width: fit-content;
    height: fit-content; */
    color: var(--theme-day-night-background);
    font-size: 75px;
}

.WhetherTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--theme-day-night-background);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
}

.WhetherNotes {
    /* width: fit-content;
    height: fit-content; */
    margin-top: 20px;
    color: #5a685d;
    font-family: Alliance-No1-Bold;
    /* font-size: 75px; */
}

.Row3Column1 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 1;
    grid-row-end: 3;
    background-color: transparent;
    box-sizing: border-box;
    border: var(--theme-day-night-border);
}

.Row3Column2 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 2;
    grid-row-end: 3;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.LandingRow3Column2 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 2;
    grid-row-end: 3;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.HeadlineTile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.HeadlineShowcase {
    color: var(--theme-day-night-foreground);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
}

.Row3Column3 {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-row-end: 3;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.LandingRow3Column3 {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-row-end: 3;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.Row3Column4 {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-column-end: 4;
    grid-row-end: 3;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.LandingRow3Column4 {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-column-end: 4;
    grid-row-end: 3;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.Row4Column1 {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 1;
    grid-row-end: 4;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.Row4Column2 {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-column-end: 2;
    grid-row-end: 4;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.Row4Column3 {
    grid-column-start: 3;
    grid-row-start: 4;
    grid-column-end: 3;
    grid-row-end: 4;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.Row4Column4 {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-column-end: 4;
    grid-row-end: 4;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.containerUnknown {
    display: grid;
    position: relative;
    width: 100vw;
    height: 600px;
    grid-template-columns: 0.5fr 3.0fr 0.5fr; 
    grid-template-rows: 0.35fr 0.45fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."; 
}

.Row2Column2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.Row2Column3 {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    padding: 20px;
    background-color: transparent;
    border: var(--theme-day-night-border);
}

.TestimonialFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--theme-day-night-foreground);
    border-radius: 8px;
}

.TestimonialHeading {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    color: var(--theme-day-night-background);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    font-size: calc(var(--theme-responsive-size)*1);
}

.Testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 5;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-items: center;
}

.TestimonialMarquee {
    width: 100%;
    height: 100%;
}

.TestimonialSlider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 5;
    grid-row-end: 4;
    width: fit-content;
    height: fit-content;
    justify-items: center;
}

.TestimonialEntry {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 13px;
    text-align: center;
    box-shadow: 0px 0px calc(var(--theme-response-helper)*1.75) #0000000e;
    background-color: var(--theme-extra-color);
    color: var(--theme-day-night-foreground);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    z-index: 9;
}

#Comments {
    display: flow-root;
    overflow: hidden;
    width: 200px !important;
    height: max-content;
    text-align: center;
    color: #888888;
    font-size: 12px;
}

.Enlightenment {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--theme-day-night-foreground);
    font-family: Alliance-No1-Bold;
    font-size: 5vh;
}

.QuoteText {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    padding-left: 0px;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    font-family: Alliance-No1-Bold, var(--theme-font-fallback);
}

.QuotePlaceholder {
    max-width: auto;
    height: fit-content;
    color: var(--theme-day-night-foreground);
    font-size: calc(var(--theme-responsive-size)*1.3);
}

.QuoteImage {
    width: 100%;
    padding: 20px;
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
}

.ImagePlaceholder {
    height: 100%;
    border-radius: 20px;
    background-color: var(--theme-day-night-foreground);
    background-image: url("../assets/quote.jpg");
    background-position: center;
    background-size: cover;
}

.containerProjects {
    display: grid;
    position: relative;
    width: 100vw;
    height: 275px;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr; 
    grid-template-rows: 0.5fr 0.7fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."; 
}

.Package {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 5;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    /* flex-direction: row; */
    justify-items: center;
}

.PackageMarquee {
    width: 100%;
    height: 100%;
}

.PackageSlider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 5;
    grid-row-end: 2;
    width: fit-content;
    height: fit-content;
    justify-items: center;
}

.PackageEntry {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 13px;
    text-align: center;
    box-shadow: 0px 0px calc(var(--theme-response-helper)*1.75) #00000010;
    background-color: var(--theme-extra-color);
    color: var(--theme-day-night-foreground);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    z-index: 9;
}

.PackageLogo {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    background-image: url("../assets/npm.jpg");
    background-size: 90px;
    background-position: center;
    border-radius: 12px;
}

.PackageInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    overflow-x: hidden;
    width: calc(100% - 110px);
    height: 100%;
    margin-left: 15px;
    background-color: transparent;
}

.Project1 {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--theme-day-night-foreground);
    font-family: Alliance-No1-Bold;
    font-size: calc(var(--theme-responsive-size)*2.5);
}

.Project2 {
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--theme-day-night-substitute); /* #16161c*/
    font-family: Alliance-No1-Bold;
    font-size: calc(var(--theme-responsive-size)*2.5);
}

.Overlay {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Gradient {
    /* background: url("https://uploads-ssl.webflow.com/5ec207a448d573153616868a/60e32bd3c049b49481caa4b2_Mesh%2017.jpg"); */
    background-image:#00ff95;background-image:  
    radial-gradient(at 67% 54%, hsla(200,100%,50%,1) 0, transparent 44%),  
    radial-gradient(at 64% 97%, hsla(239,100%,50%,1) 0, transparent 47%),  
    radial-gradient(at 52% 76%, hsla(333,100%,50%,1) 0, transparent 45%),  
    radial-gradient(at 34% 21%, hsla(48,100%,80%,1) 0, transparent 52%),  
    radial-gradient(at 42% 74%, hsla(23,100%,50%,1) 0, transparent 56%),  
    radial-gradient(at 90% 12%, hsla(173,100%,50%,1) 0, transparent 57%),  
    radial-gradient(at 5% 71%, hsla(336,100%,50%,1) 0, transparent 46%);
    background-size: 100% 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
}
@keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
}

.ProjectLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Deck {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    height: 100%;
    border-radius: 20px;
    background-color: #3a3a3a;
    background-size: cover;
}

#Deck1 {
    background-position: center;
    background-image: url("../assets/Deck1.png");
}

#Deck2 {
    background-image: url("../assets/Deck2.png");
}

#Deck3 {
    background-image: url("../assets/Deck3.png");
}

#Deck4 {
    background-image: url("../assets/Deck4.png");
}

.ProjectTitle {
    display: flex;
    position: absolute;
    width: 100px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 0px 10px 10px 0px;
    margin-top: calc(var(--theme-responsive-size)*5);
    backdrop-filter: blur(90px);
    color: #ffffff;
    box-shadow: 0px 0px calc(var(--theme-response-helper)*1) rgba(15, 15, 19, 0.5);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
    font-size: large;
}

.DeckDescription {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    width: 100%;
    height: 40px;
    margin-top: -60px;
    z-index: 20;
}

.projectMarquee {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    color: var(--theme-day-night-foreground);
    background-color: var(--theme-day-night-background);
    font-family: var(--theme-font-regular), var(--theme-font-fallback);
}

.containerExtra {
    display: grid;
    position: relative;
    width: 100vw;
    height: 450px;
    grid-template-columns: 0.5fr 1.8fr 1.2fr 0.5fr; 
    grid-template-rows: 1fr 2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."; 
}

.Carousel {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 3;
    /* background-color: #00ff95; */
    padding: 25px;
}

.CaourselTemplate {
    display: flex;
    flex-direction: row;
    background-color: #c2c2c226;
    backdrop-filter: blur(2px);
    width: auto;
    height: 100%;
    border-radius: 30px;
    padding: 25px;
    z-index: 8;
}

.CarouselMockup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-day-night-foreground);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    text-align: center;
    color: var(--theme-day-night-background);
    font-family: Poppins-Regular, var(--theme-font-regular), var(--theme-font-fallback);
    font-size: calc(var(--theme-response-helper)*0.8);
}

.containerContactMe {
    display: grid;
    position: relative;
    width: 100vw;
    height: 450px;
    grid-template-columns: 0.5fr 1.8fr 1.2fr 0.5fr; 
    grid-template-rows: 1fr 2fr 0.5fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."; 
}

.ContactGrid {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 5;
    grid-row-end: 5;
    padding: 25px;
    background-color: transparent;
}

.ContactFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 25px;
}

.ContactHeading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: auto;
    padding: 50px;
    color: #ffffff;
    font-family: Alliance-No1-Bold, var(--theme-font-fallback);
    font-size: calc(var(--theme-response-helper)*2.5);
}

.ContactFooterLine {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: #8f8f8f;
    font-family: Poppins-Regular, var(--theme-font-regular), var(--theme-font-fallback);
    font-size: calc(var(--theme-response-helper)*0.4);
}

.mediaLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(20vh*0.5);
    width: calc(30vw);
    justify-content: space-between;
    align-items: flex-start;
}

.mediaLinksul {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 0px;
    font-family: Poppins-Regular, var(--theme-font-regular), var(--theme-font-fallback);
    font-size: calc(var(--theme-response-helper)*0.45);
}

.mediaLinksli {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .references {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: auto;
    padding: 50px;
    color: #ffffff;
    font-family: Alliance-No1-Bold, var(--theme-font-fallback);
    font-size: calc(var(--theme-response-helper)*2.5);
}

.newsletterBox {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    background-color: #ffffff;
    border-radius: 25px;
} */

@media only screen and (max-width:200px) {
    body {
        background-color: #000000;
    }
}

@media only screen and (max-width:850px) and (min-width: 250px) {
    li {
        font-size: calc(var(--theme-responsive-size)*0.5);
    }

    marquee {
        -webkit-marquee-speed: fast;
    }
    .containerUnknown {
        grid-template-rows: 0.35fr 0.5fr 1fr; 
    }

    .contactMeModal-content, #contactMeModal-design1, #contactMeModal-design2 {
        height: calc(var(--theme-responsive-size)*18);
        font-family: var(--theme-font-regular), var(--theme-font-fallback);
        border-radius: 15px;
    }

    .Enlightenment {
        font-size: 2.5vh;
    }

    .submitEmail {
        width: 100%;
        height: calc(var(--theme-responsive-size)*3);
        background-color: #dfdfdf;
        border-radius: 10px;
    }

    .NavBar {
        height: calc(var(--theme-responsive-size)*3.25);
    }
    .ulFooter {
        flex-direction: column;
        justify-content: flex-end;
    }

    .Testimonial {
        overflow: hidden;
    }

    .TestimonialFooter {
        height: 70%;
        text-align: center;
    }

    .TestimonialContinue {
        display: none;
    }
    /* #ulFooterRLeft {
        margin-left: 6.5%;
    } */

    .Carousel {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    #LIFooter {
        padding-bottom: 20px;
    }

    #ulFooterRight {
        margin-right: 6.5%;
    }

    .Footer {
        bottom: 0;
        margin: 2%;
    }
    .version1, .LandingRow2Column3, .LandingRow3Column3, .LandingRow3Column4, #ProjectRow2Column3,  #ProjectRow4Column2 {
        display: none;
    }
    .LiveTile {
        display: none;
    }

    .Project1, .Project2 {
        font-size: 20px;
    }

    .Time, .Date, .Day {
        font-size: 10px;
    }
    .LandingRow2Column2 {
        grid-column-end: 4;
    }

    #ProjectRow2Column2, #ProjectRow4Column3 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .LandingRow3Column2 {
        grid-column-end: 5;
    }
    .ShowcaseTitle {
        margin-top: calc(var(--theme-responsive-size)*15);
    }
    .LiveWhether {
        border-radius: 0px;
        background-color: transparent;
    }
    .Whether, .WhetherTitle {
        color: var(--theme-day-night-foreground);
    }
    .mediaLinks {
        width: 90%;
        height: calc(10vh*0.5);
    }
    .mediaLinksul {
        font-size: calc(var(--theme-response-helper)*0.55);
    }
    .ContactFooterLine {
        font-size: calc(var(--theme-response-helper)*0.5);
    }

    .QuotePlaceholder {
        font-size: calc(var(--theme-responsive-size)*1.75);
    }
    .QuoteImage {
        display: none;
    }
}

@media only screen and (max-width:1100px) and (min-width: 850px) {
    .version1 {
        display: none;
    }
    .LiveWhether {
        border-radius: 0px;
        background-color: transparent;
    }
    .Whether, .WhetherTitle {
        color: var(--theme-day-night-foreground);
    }
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 5px;
    max-height: 1px;
    margin-right: 10px;
    padding-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--theme-day-night-background);
    margin-right: 10px;
    padding-right: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--theme-day-night-foreground); 
    margin-right: 10px;
    padding-right: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888888; 
    margin-right: 10px;
    padding-right: 10px;
}