@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url(../assets/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Alliance-No1-Bold';
    src: local('Alliance-No.1-Bold'), url(../assets/Alliance-No.1-Bold.otf) format('truetype');
}

@font-face {
    font-family: 'Alliance-No1-SemiBold';
    src: local('Alliance-No.1-SemiBold'), url(../assets/Alliance-No.1-SemiBold.otf) format('truetype');
}

:root {
    --theme-responsive-size: 2vmax;
    --theme-response-helper: 2vmax;
    --theme-light-background: #f4f7f8;
    --theme-dark-background: #101010;
    --theme-font-fallback: Poppins-Regular;
    --theme-font-regular: Alliance-No1-Bold;
}

body {
    background-color: #000000;
    color: var(--theme-light-background);
    font-family: var(--theme-font-regular),var(--theme-font-fallback), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    z-index: -1;
}

/* body, button, input {
    font-family: var(--theme-font-fallback);
} */

.Landing {
    width: 100%;
    height: 100%;
}

.Header {
    display: flex;
    position: relative;
    margin-top: 15%;
    flex-direction: column;
    align-items: center;
}

.Name {
    font-size: calc(var(--theme-responsive-size)*3);
}

.Description {
    font-family: Alliance-No1-SemiBold;
    font-size: calc(var(--theme-responsive-size)*0.5);
    text-align: center;
}

@media only screen and (max-width:200px) {
    body {
        background-color: #000000;
    }
}

@media only screen and (max-width:700px) and (min-width: 250px) {
    .Header {
        margin-top: 50%;
    }

    .Description {
        font-size: calc(var(--theme-responsive-size)*1.1);
    }
}

@media only screen and (max-width:1100px) and (min-width: 700px) {
    .Header {
        margin-top: 25%;
    }

    .Description {
        font-size: calc(var(--theme-responsive-size)*1);
    }
}